<h1>HackerNews</h1>
<h2>Today</h2>
 
<% @items.each do |item| %>
<div class="container">
    <div class="color"></div>    
    <div class="card">
        <div class="top">
            <%= item["score"] %>
            <%= item["title"] %>
            <div class="right"><%= item["by"] %></div>
        </div>
        <div class="bottom">
            <p>comments:</p>
            <%= item["descendants"] %>

        </div>
    </div>
</div>
<% end %>