:root{
    --dark:#2c2c34;
    --primary:#0094C6;
    --secondary:#FDCA40;
    --tertiary:#f02d3a;
    --white:#D9D9D9;
}
 
html{
    background-color:#121215;
}

h1, h2{
    color:white;
}

body{
    margin: 0% 10%;
    font-family: 'Muli', sans-serif;
}

table{
    background-color:black;
    color:white;
}

.card{
    padding:10px;
    background-color:var(--dark);
    margin-bottom:20px;
    color:white;
    width:99%;
}
.top{
    display:block;
    width:100%;
    margin-bottom:10px;
}
.bottom{
    display:flex;
    width:100%;
}
.bottom p{
    margin:0;
    margin-right:.25em;
}
.right{
    float:right;
}

.color{
    width:1%;
    height:68px;
    background-color:var(--primary);
}

.color2{
    width:1%;
    height:68px;
    background-color:var(--secondary);
}

.color3{
    width:1%;
    height:68px;
    background-color:var(--tertiary);
}

.container{
    display:flex;
}